
body {
    margin: 0%;
}

header {
    background-color: darkkhaki;
    line-height: 1em;
    padding: 1%;
    text-align: center;
    font-size: 1.5em;
}

main {
    margin: 2em;
}

footer {
    background-color: darkkhaki;
    line-height: 1em;
    padding: 2%;
    text-align: center;
    font-size: 2em;
}